//importaciones
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;900&display=swap"); //letras
@import "../../../../constvalue";
@import "../../../../mixins";
@import "../../../../variables";

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  width: 100%;
  height: 100px;
  background-color: rgb(240, 238, 238);
}
//menu
.nav__header {
  position: fixed;
  height: 100px;
  width: 100%;
  background: linear-gradient(to right, rgb(255, 255, 255), rgb(235, 70, 166));
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}
//logo-menu
.logo {
  margin-top: 15px;
  width: 140px;
  margin-left: 20px;
  transition: all 0.3s;
}
.logo:hover {
  cursor: pointer;
  filter: brightness(0) saturate(100%) invert(0%) sepia(100%) saturate(0%)
    hue-rotate(28deg) brightness(95%) contrast(105%);
  transform: scale(1.1);
}

.header_avatar {
  width: 55px;
  margin-right: 20px;
  @media screen and(max-width:768px) {
    display: none;
  }
  &:hover {
    cursor: pointer;
    border: 2px solid orange;
    border-radius: 50%;
  }
}
//btn-bar
.bar-btn {
  margin-top: 10px;
  font-size: 25px;
  color: rgb(44, 42, 42);
  margin-right: 20px;
  cursor: pointer;
  & :hover {
    color: $rosado-color;
  }
}
.user {
  display: flex;
  margin: 10px;
}
.btn_salir {
  margin-right: 10px;
  margin-top: 10px;
  display: block;
  border-radius: 10px;
  width: 66px;
  height: 30px;
  background-color: #30d6d6bd;
}
//menu-resposive
.nav-menu {
  position: fixed;
  width: 100%;
  height: 0vh;
  top: 100px;
  background: rgba(113, 71, 212, 0.582);
  text-align: left;
  transition: all 1s;
  & li {
    display: none;
    line-height: 30px;
    margin: 25px 10px;
    transition: all 1s;
  }
  & a {
    margin-top: 40px;
    color: rgb(36, 19, 19);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
  }
  & a.active,
  a:hover {
    color: rgb(233, 222, 230);
    text-decoration: underline;
    text-underline-offset: 0.5em;
  }
}
//bar-manu
#check {
  display: none;
}
#check:checked ~ .nav-menu {
  height: 100vh;
}
#check:checked ~ .nav-menu li {
  display: block;
}

//resposive
@media screen and(min-width:768px) {
  .logo {
    margin-left: 50px;
  }
  .nav__header {
    height: 100px;
  }
  .bar-btn {
    display: none;
  }
  .nav-menu {
    position: relative;
    height: 100px;
    top: 0px;
    background: none;
    transition: none;
    text-align: right;
    margin-right: 50px;
    & li {
      display: inline-block;
      line-height: 100px;
      margin: 0 20px;
      transition: none;
    }
    & a {
      font-size: 12px;
    }
  }
}
//Fin nav
nav {
  padding: 0px 20px;
  padding-top: 10px;
  padding-block-end: 30px;
  @include movil {
    padding: 0px 5px;
    padding-top: 10px;
    padding-block-end: 20px;
  }
  //Inicio Carrusel
  & .container-slider {
    //border: 1px solid red;
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    box-shadow: 0 10px 20px;
    position: relative;
    border-radius: 15px;
  }
  & .slider {
    display: flex;
    width: 400%;
    height: 60vh;
    margin-left: -100%;
  }
  & .slider_section {
    width: 100%;
  }
  & .slider_img {
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  & .slider_btn {
    position: absolute;
    width: 40px;
    height: 40px;
    background: rgba(255, 255, 255, 0.7);
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
  }
  & .slider_btn:hover {
    background: #fff;
  }
  & .slider_btn--left {
    left: 10px;
  }
  & .slider_btn--righ {
    right: 10px;
  }
  //Fin Carrusel
}
//Fin nav

//container productos-filter
.container_producto {
  padding: 0 5rem;
  display: flex;
  align-items: stretch;
  position: relative;
  width: 100%;

  //filter
  .sidebar_filters {
    padding: 1.6rem;
    width: 20rem;
    .filter_container {
      border-bottom: 1px solid #e9e8ea;
      border-top: 1px solid #e9e8ea;
      height: auto;
      width: 100%;
      .filter_list {
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
        .item_filter {
          border-bottom: 1px solid #e9e8ea;
          .title-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            height: auto;
            justify-content: space-between;
            padding: 10px;
            width: 100%;
            .icons {
              box-sizing: border-box;
            }
          }
          .contenido_filtro {
            cursor: pointer;
            display: block;
            height: auto;
            opacity: 1;
            padding: 0.9375rem 0.5rem;
            .list_unstyled {
              list-style: none;
              padding-left: 0;
              .content_Check {
                border-radius: 2px;
                color: #959595;
                display: block;
                font-size: 0.9375rem;
                padding-left: 1.875rem;
                position: relative;
                user-select: none;
              }
              .content_Check input {
                cursor: pointer;
                height: 0;
                opacity: 0;
                position: absolute;
                width: 0;
              }
              .check_Mark {
                background-color: #ffffff;
                border: 1px solid #131314;
                border-radius: 2px;
                height: 15px;
                left: 0;
                position: absolute;
                top: 0.25rem;
                width: 15px;
              }
            }
          }
        }
      }
    }

    .icons {
      box-sizing: border-box;
    }
  }

  //productos
  .productos {
    display: none;
  }
}
