<body>
    <!--Inicio Header-->
    <header>
        <!--Inicio Menu-Header-->
        <div class="nav__header">
            <!--Logo-->
            <div>
                <img src="./../../../assets/img/LogoPrimary.png" alt="" class="logo">
            </div>
            <!--Logo-->
            
            <!--icon-bar-->
            <input type="checkbox" id="check">
            <label for="check" class="bar-btn">
                <i class="fas fa-bars"></i>
            </label>
            <!--icon-bar-->
            
            <!--Menu-->
            <ul class="nav-menu">
                <li><a href="login/register">Crea tu cuenta</a></li>
                <li><a href="login">Ingresa</a></li>
                <li><a href="">Mis compras</a></li>
            </ul>
            <!--Menu-->
            <img class="header_avatar" src="../../../../assets/img/image-avatar.png" alt="">
        </div>
        <!--Final Menu-Header-->

    </header>
    <!-- Inicio img-Carrusel-->
    <nav class="nav__slider">
        <div class="container-slider">
            <div class="slider" id="slider">
                <div class="slider_section"><img src="../../../../assets/img/CarteraOferta1.jpg" alt="" class="slider_img">
                </div>
                <div class="slider_section"><img src="../../../../assets/img/CarteraOferta2.jpg" alt="" class="slider_img">
                </div>
                <div class="slider_section"><img src="../../../../assets/img/CarteraOferta3.jpg" alt="" class="slider_img">
                </div>
                <div class="slider_section"><img src="../../../../assets/img/logotienda.png" alt="" class="slider_img">
                </div>
            </div>
            <div class="slider_btn slider_btn--righ" id="btn-rigth">&#62;</div>
            <div class="slider_btn slider_btn--left" id="btn-left">&#60;</div>
        </div>
    </nav>
    <!-- Fin img-Carrusel-->
    <!--Final Header-->
</body>