@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Montserrat:wght@600&display=swap');


//textos
$primary-text: 'Montserrat',sans-serif;
$secondary-text: 'Calistoga',sans-serif;

//colores
$button-color: #E6007E;